/.idea
.claude/settings.local.json
CLAUDE.md
/node_modules
testCV.pdf
/Raw stuff
Portfolio/images/Unconfirmed 518485.crdownload
/Portfolio/images/temp
/Portfolio/temp
/Portfolio/resources/temp
CV/img.png
CV/img_1.png
CV/img_2.png
CV/img_3.png
CV/after_1.png
CV/after_2.png
CV/after_3.png
CV/after_4.png
CV/test1.pdf
CV/img_4.png
CV/test2.pdf
